# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
etc/
Scripts/
share/
.idea/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/.idea/.gitignore
/Scripts/activate
/Scripts/activate.bat
/Scripts/activate.fish
/Scripts/activate.nu
/Scripts/activate.ps1
/Scripts/activate_this.py
/Scripts/deactivate.bat
/Scripts/deactivate.nu
/.idea/misc.xml
/.idea/modules.xml
/Scripts/pip.exe
/Scripts/pip3.10.exe
/Scripts/pip3.exe
/Scripts/pip-3.10.exe
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/Scripts/pydoc.bat
/Scripts/python.exe
/Scripts/pythonw.exe
/pyvenv.cfg
/.idea/TP7V2.iml
/.idea/vcs.xml
/Scripts/wheel.exe
/Scripts/wheel3.10.exe
/Scripts/wheel3.exe
/Scripts/wheel-3.10.exe
.vscode/extensions.json
etc/jupyter/jupyter_server_config.d/jupyter_server_terminals.json
etc/jupyter/jupyter_server_config.d/nbclassic.json
etc/jupyter/jupyter_server_config.d/notebook_shim.json
etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
Scripts/f2py.exe
Scripts/ipython.exe
Scripts/ipython3.exe
Scripts/jsonpointer
Scripts/jsonschema.exe
Scripts/jupyter-bundlerextension.exe
Scripts/jupyter-console.exe
Scripts/jupyter-dejavu.exe
Scripts/jupyter-events.exe
Scripts/jupyter-execute.exe
Scripts/jupyter-kernel.exe
Scripts/jupyter-kernelspec.exe
Scripts/jupyter-migrate.exe
Scripts/jupyter-nbclassic-bundlerextension.exe
Scripts/jupyter-nbclassic-extension.exe
Scripts/jupyter-nbclassic-serverextension.exe
Scripts/jupyter-nbclassic.exe
Scripts/jupyter-nbconvert.exe
Scripts/jupyter-nbextension.exe
Scripts/jupyter-notebook.exe
Scripts/jupyter-qtconsole.exe
Scripts/jupyter-run.exe
Scripts/jupyter-server.exe
Scripts/jupyter-serverextension.exe
Scripts/jupyter-troubleshoot.exe
Scripts/jupyter-trust.exe
Scripts/jupyter.exe
Scripts/pygmentize.exe
Scripts/pywin32_postinstall.py
Scripts/pywin32_testall.py
Scripts/qtpy.exe
Scripts/send2trash.exe
Scripts/wsdump.exe
share/applications/jupyter-nbclassic.desktop
share/applications/jupyter-notebook.desktop
share/icons/hicolor/scalable/apps/nbclassic.svg
share/icons/hicolor/scalable/apps/notebook.svg
share/jupyter/kernels/python3/kernel.json
share/jupyter/kernels/python3/logo-32x32.png
share/jupyter/kernels/python3/logo-64x64.png
share/jupyter/kernels/python3/logo-svg.svg
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/install.json
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/package.json
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/package.json.orig
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/plugin.json
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/61.21f571face17e35076c2.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/113.dd66397047ecb9a605cf.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/113.dd66397047ecb9a605cf.js.LICENSE.txt
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/134.40eaa5b8e976096d50b2.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/150.b0e841b75317744a7595.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/291.f707f721e4b3a5489ee0.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/291.f707f721e4b3a5489ee0.js.LICENSE.txt
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/345.03be96cd091aac4797a5.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/495.5805e8bf9dd8851289a1.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/595.e3c9c115ecf5763f080b.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/596.5d35bd634ac768ff6d16.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/644.11f638668109f1562dd1.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/699.563670613eea7b633a22.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/965.7ea93aa594250a988d2a.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/remoteEntry.d6df56cd69f4640706bc.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/style.js
share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/third-party-licenses.json
share/jupyter/labextensions/jupyterlab_pygments/install.json
share/jupyter/labextensions/jupyterlab_pygments/package.json
share/jupyter/labextensions/jupyterlab_pygments/static/568.1e2faa2ba0bbe59c4780.js
share/jupyter/labextensions/jupyterlab_pygments/static/747.8eb3ddccc7ec4987bff9.js
share/jupyter/labextensions/jupyterlab_pygments/static/remoteEntry.aa1060b2d1221f8e5688.js
share/jupyter/labextensions/jupyterlab_pygments/static/style.js
share/jupyter/labextensions/jupyterlab_pygments/static/third-party-licenses.json
share/jupyter/nbconvert/templates/asciidoc/conf.json
share/jupyter/nbconvert/templates/asciidoc/index.asciidoc.j2
share/jupyter/nbconvert/templates/base/celltags.j2
share/jupyter/nbconvert/templates/base/display_priority.j2
share/jupyter/nbconvert/templates/base/jupyter_widgets.html.j2
share/jupyter/nbconvert/templates/base/mathjax.html.j2
share/jupyter/nbconvert/templates/base/null.j2
share/jupyter/nbconvert/templates/basic/conf.json
share/jupyter/nbconvert/templates/basic/index.html.j2
share/jupyter/nbconvert/templates/classic/base.html.j2
share/jupyter/nbconvert/templates/classic/conf.json
share/jupyter/nbconvert/templates/classic/index.html.j2
share/jupyter/nbconvert/templates/classic/static/style.css
share/jupyter/nbconvert/templates/compatibility/display_priority.tpl
share/jupyter/nbconvert/templates/compatibility/full.tpl
share/jupyter/nbconvert/templates/lab/base.html.j2
share/jupyter/nbconvert/templates/lab/conf.json
share/jupyter/nbconvert/templates/lab/index.html.j2
share/jupyter/nbconvert/templates/lab/static/index.css
share/jupyter/nbconvert/templates/lab/static/theme-dark.css
share/jupyter/nbconvert/templates/lab/static/theme-light.css
share/jupyter/nbconvert/templates/latex/base.tex.j2
share/jupyter/nbconvert/templates/latex/conf.json
share/jupyter/nbconvert/templates/latex/display_priority.j2
share/jupyter/nbconvert/templates/latex/document_contents.tex.j2
share/jupyter/nbconvert/templates/latex/index.tex.j2
share/jupyter/nbconvert/templates/latex/null.j2
share/jupyter/nbconvert/templates/latex/report.tex.j2
share/jupyter/nbconvert/templates/latex/style_bw_ipython.tex.j2
share/jupyter/nbconvert/templates/latex/style_bw_python.tex.j2
share/jupyter/nbconvert/templates/latex/style_ipython.tex.j2
share/jupyter/nbconvert/templates/latex/style_jupyter.tex.j2
share/jupyter/nbconvert/templates/latex/style_python.tex.j2
share/jupyter/nbconvert/templates/markdown/conf.json
share/jupyter/nbconvert/templates/markdown/index.md.j2
share/jupyter/nbconvert/templates/python/conf.json
share/jupyter/nbconvert/templates/python/index.py.j2
share/jupyter/nbconvert/templates/reveal/base.html.j2
share/jupyter/nbconvert/templates/reveal/cellslidedata.j2
share/jupyter/nbconvert/templates/reveal/conf.json
share/jupyter/nbconvert/templates/reveal/index.html.j2
share/jupyter/nbconvert/templates/reveal/static/custom_reveal.css
share/jupyter/nbconvert/templates/rst/conf.json
share/jupyter/nbconvert/templates/rst/index.rst.j2
share/jupyter/nbconvert/templates/script/conf.json
share/jupyter/nbconvert/templates/script/script.j2
share/jupyter/nbconvert/templates/webpdf/conf.json
share/jupyter/nbconvert/templates/webpdf/index.pdf.j2
share/jupyter/nbextensions/jupyter-js-widgets/extension.js
share/jupyter/nbextensions/jupyter-js-widgets/extension.js.LICENSE.txt
share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
share/man/man1/ipython.1
~$actions.ods
actions.csv
actions.ods
dataset1_Python+P7.csv
dataset2_Python+P7.csv
pseudo-code-brute.md
pseudo-code-optimized.txt
solution1_Python+P7.txt
solution2_Python+P7.txt
tempCodeRunnerFile.py
tempCodeRunnerFile.python
test.py
TP7.odp
trash
